*{
    margin: 0;
    padding: 0;
}
#div{
    width: 150px;
    height: 30px;
    border: 2px solid gray;
    margin: 50px auto;
    position: relative;
}
ul{
    width: 150px;
    border: 2px solid gray;
    position: absolute;
    left: -2px;
    top: 30px;
    list-style-type: none;
    display: none;
}